<h1>Students Name</h1>
<body style="background-color: skyblue">
<table>
  <thead>
    <tr>
      <table id="student" border="2" layout= "fixed" width=" 30%"  >
        <colgroup>
        <col style="width: 30%" />
        <col style="width: 30%" />
        <col style="width: 10%" />
      <th>Student name</th>
      <th>Last name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
     <% Teacher.all.each do |teacher| %>
      <tr>
        <table id="student" border="2" layout= "fixed" width=" 30%"  >
        <colgroup>
        <col style="width: 30%" />
        <col style="width: 30%" />
        <col style="width: 10%" />
        <td><%= teacher.name %></td>
        <td><%= teacher.last_name %></td>
        <td><%= link_to 'Show', teacher %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br> 


<%= link_to 'Back', students_path %>
