<h1> To know about advantage and disadvantages<br> Visit below link</h1>
<h3><marquee>
	<li>
	<a href="https://www.edusys.co/blog/student-result-management-system"/ target="blank">Explore Here</a> 
</marquee></h3></li>
<h3>
Student Result Management System is a technological opportunity for the school, college, university and coaching centre institutions searching for a secure, simple and alternative solution to the conventional paper-based exam results evaluation, reporting and distribution. Like any other software, the system comes with certain advantage and disadvantage.<br><br> 

The software application unbelievably unravels and quickens the result management system with unique templates by providing the administration a secure database system for storing, evaluating and publishing the test scores and grades of candidates online. The database likewise allows the students to observe and gander at the exam results on the web at whatever point necessary.<br><br>
<%= image_tag("virus.jpeg", {:style => "width:100px;"}) %>