<marquee>
<h1>Visit for Enquiry</h1>
</marquee>
<h4>Regards, Contact to<br> 
<a jsname= 'YheIzf' class="rABsFfVmb ALI8ce" target="_blank" data-tooltip- position="top" href="mailto:vikrantchourasiya1508@gmail.com" data-tooltip="From your google contacts" jslog="35051; track:click,impression"> <%= User.last.email %> </a> 

<%= current_user.contact_no %><br>
<%= image_tag("logo.jpg", {:style => "width:200px;"}) %></h4>
 <li> 
 	<a href="https://www.bestpeers.com/"/target="blank">Www.Bestpeers.com</a><br>
 </li> 
 <li> 
 	<a href="https://mail.google.com/mail/u/0/#inbox"/target="blank">Www.Gmail.com</a> 
 </li> 
