<h1>Editing Result</h1>

<%= render 'form', teacher: @teacher %>

<a class="nav-link active", <%= link_to 'View', @teacher %></a> 
<a class="nav-link active", <%= link_to 'Back', teachers_path %></a>
