<center>
<p id="notice"><%= notice %></p>
  <% if current_user.teacher? %>
  <%= link_to 'Show result',result_path(:id) %>
  <% else %>
  you came to wrong section <br><br><br>
  <% end %>
  <%= link_to 'Back', home_index_path %>
</h1>
