<body class="container" style="background: #f2f2f2"> 
  <h1 class="my-3" style="color: #666fff;"><b>Searching result</b></h1>
  <div name="">
   <div class="row">
   	<h5>
<table>
  <thead>
    <tr>
      <table id="teacher" border="2" layout= "fixed" width=" 50%"  >
  <colgroup>
    <col style="width: 33%" />
    <col style="width: 33%" />
      <th>Student Name</th>
      <th>Last name</th> 
      
         <th>Class</th>
    
      <th colspan="3"></th>
    </tr>
  </thead>

    <% @teachers.each do |teacher| %>
	<tr>
        <td><%= teacher.name %></td>
         <td><%= teacher.last_name %></td>
        
         <td><%= teacher.group %></td>
         
        <td><%= link_to 'View', teacher %></td>
      </tr>
 	<% end %>
</div>
 </div>
</body>


   